body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

.header {
  height: 3.5rem;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.logo {
  width: auto;
  height: 3rem;
  padding-left: 2.3%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo__text {
  margin-left: 15px;
  cursor: pointer;
}

.logo__img > img {
  height: 3rem;
  border-radius: 50px;
  cursor: pointer;
}
.usuario {
  width: auto;
  height: 3rem;
  padding-right: 3%;
  align-items: center;
  display: flex;
  
  justify-content: space-between;
}

.usuario__logo {
  margin-right: 10px;
  cursor: pointer;
}

.usuario__administrador {
  margin-left: 5px;
  cursor: pointer;
}

.options {
  background-color: #F2F2F2;
  align-items: center;
  width: 3%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  border-radius: red 5px;
}

.icon {
  display: block;
  cursor: pointer;
  margin: 30px 5px 30px 5px;
  font-size: 5px;
  align-content: space-between;
}

.icon > img {
  size: 20px;
}