body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

.header {
  height: 3.5rem;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.logo {
  width: auto;
  height: 3rem;
  padding-left: 2.3rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo__text {
  margin-left: 15px;
  cursor: pointer;
}

.logo__img > img {
  height: 3rem;
  border-radius: 50px;
  cursor: pointer;
}
.usuario {
  width: auto;
  height: 3rem;
  padding-right: 3%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.usuario__logo {
  margin-right: 10px;
  cursor: pointer;
}

.usuario__administrador {
  margin-left: 5px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.sidebar {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}

.sidebar__options {
  background-color: #F2F2F2;
  align-items: center;
  width: 47px;
  margin-left: 2.5%;
  margin-top: 2.5%;
  border: solid 2px;
  border-radius: 5px;
  box-shadow: #F2F2F2;
}

.icon {
  border: chartreuse solid;
  justify-content: center;
  display: inline-flex;
  cursor: pointer;
  margin: 30px 5px 30px 5px;
  font-size: 5px;
}

.icon > img {
  size: 20px;
}

.dashboard {
  border: solid 2px;
  box-shadow: salmon;
  height: 500px;
  width: 95%;
  margin-top: 2.5rem;
  border-radius: 5px;
}


